<header class="header">

<div class="container header-container">

<div class="logo-container">
<img src="../assets/images/logo.png" alt="Global Nurse Career Guide" class="logo">
<span class="site-name">Global Nurse Career Guide</span>
</div>

<nav class="nav">

<a href="../index.html">Home</a>

<div class="dropdown">
<button class="dropbtn">Work Abroad</button>
<div class="dropdown-content">
<a href="../pages/usa.html">USA</a>
<a href="../pages/canada.html">Canada</a>
<a href="../pages/uk.html">UK</a>
<a href="../pages/australia.html">Australia</a>
</div>
</div>

<div class="dropdown">
<button class="dropbtn">Guides</button>
<div class="dropdown-content">
<a href="../pages/nclex.html">NCLEX Preparation</a>
<a href="../pages/ielts.html">IELTS Guide</a>
<a href="../pages/interview.html">Interview Preparation</a>
<a href="../pages/visa.html">Visa Guide</a>
</div>
</div>

<a href="../pages/resources.html">Resources</a>

<a href="../blog/index.html">Blog</a>

<a href="../pages/contact.html">Contact</a>

</nav>

</div>

</header>